## Unit 4 | Assignment - Pandas, Pandas, Pandas

## Option 1: Heroes of Pymoli

![Fantasy](../Images/Fantasy.jpg)

In [11]:
import os
import pandas as pd
import json
import numpy as np

file = "purchase_data2.json"

with open(file) as data_file:
    data = json.load(data_file)
    
pymoli_pd = pd.DataFrame(data)
pymoli_pd.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

**Player Count**

* Total Number of Players

In [12]:
total = pymoli_pd['SN'].unique().size
total_players = pd.DataFrame({'Total Players': [total]})
total_players

   Total Players
0             74

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [13]:
#Number of Unique Items
number_of_unique_items = pymoli_pd['Item Name'].value_counts()
number =len(number_of_unique_items)

# Average Purchase Price
avg_price = pymoli_pd['Price'].mean()

#Total Number of Purchases
total_num_purchase = pymoli_pd['Item Name'].count()

#Total Revenue
total_revenue = pymoli_pd['Price'].sum()

purchasing_analysis_total = pd.DataFrame({'Number of Unique Items': [number],
                                          'Average Purchase Price': [avg_price],
                                          'Total Number of Purchases': [total_num_purchase], 
                                          'Total Revenue': [total_revenue]
})
purchasing_analysis_total = purchasing_analysis_total[['Number of Unique Items',
                                                       'Average Purchase Price',
                                                       'Total Number of Purchases',
                                                        'Total Revenue']]
purchasing_analysis_total['Average Purchase Price'] = purchasing_analysis_total['Average Purchase Price'].map("${:.2f}".format)
purchasing_analysis_total['Total Revenue'] = purchasing_analysis_total['Total Revenue'].map("${:.2f}".format)

purchasing_analysis_total

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,63,$2.92,78,$228.10

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [14]:
#Percentage and Count of Male Players
gender_male = pymoli_pd.loc[pymoli_pd['Gender']  == 'Male',:]
gender_male_count = gender_male['Gender'].count()

percentage_male = round((gender_male_count/total)* 100, 2)
percentage_male

#Percentage and Count of Female Players
gender_female = pymoli_pd.loc[pymoli_pd['Gender']  == 'Female',:]
gender_female_count = gender_female['Gender'].count()

percentage_female = round((gender_female_count/total)*100, 2)
percentage_female

# Percentage and Count of Other / Non-Disclosed
gender_other = pymoli_pd.loc[pymoli_pd['Gender']  == 'Other / Non-Disclosed',:]
other_nondisclosed_count = gender_other['Gender'].count()

pecentage_other = round((other_nondisclosed_count/total)*100,2)
pecentage_other


gender_demographics_pd = pd.DataFrame({'': ['Male', 'Female','Other / Non-Disclosed'],
                                       'Percentage Of Players':  [percentage_male, percentage_female,pecentage_other],
                                      'Total Count': [gender_male_count, gender_female_count, other_nondisclosed_count]})

gender_demographics_pd['Percentage Of Players'] = gender_demographics_pd['Percentage Of Players'].map("{:.2f}%".format)
gender_demographics_pd = gender_demographics_pd.set_index('')
gender_demographics_pd

                      Percentage Of Players  Total Count

Male                                 86.49%           64
Female                               17.57%           13
Other / Non-Disclosed                 1.35%            1

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [15]:
male_purchase_avg = gender_male['Price'].mean()
male_purchase_total = gender_male['Price'].sum()

female_purchase_avg = gender_female['Price'].mean()
female_purchase_total = gender_female['Price'].sum()

other_purchase_avg = gender_other['Price'].mean()

#Normalized Totals
gender_male_SN = gender_male['SN'].unique()
gender_male_SN_len = len(gender_male_SN)
normalized_male_avg = male_purchase_total/gender_male_SN_len

gender_female_SN = gender_female['SN'].unique()
gender_female_SN_len = len(gender_female_SN)
normalized_female_avg = female_purchase_total/gender_female_SN_len


purchasing_analysis_gen_pd = pd.DataFrame({'Gender': ['Female','Male', 'Other / Non-Disclosed'],
                                           'Purchase Count': [gender_male_count, gender_female_count,other_nondisclosed_count],
                                          'Average Purchace Price': [female_purchase_avg, male_purchase_avg,other_purchase_avg],
                                          'Total Purchase Value': [female_purchase_total, male_purchase_total, other_purchase_avg],
                                          'Normalized Totals': [ normalized_female_avg, normalized_male_avg, other_purchase_avg]})
purchasing_analysis_gen_pd['Average Purchace Price'] = pd.to_numeric(purchasing_analysis_gen_pd['Average Purchace Price']).map("${:.2f}".format)
purchasing_analysis_gen_pd['Total Purchase Value'] = pd.to_numeric(purchasing_analysis_gen_pd['Total Purchase Value']).map("${:.2f}".format)
purchasing_analysis_gen_pd['Normalized Totals'] = pd.to_numeric(purchasing_analysis_gen_pd['Normalized Totals']).map("${:.2f}".format)
purchasing_analysis_gen_pd = purchasing_analysis_gen_pd[['Gender','Purchase Count',
                                                         'Average Purchace Price','Total Purchase Value', 'Normalized Totals']]
purchasing_analysis_gen_pd.set_index('Gender')

,Purchase Count,Average Purchace Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,64,$3.18,$41.38,$3.18
Male,13,$2.88,$184.60,$3.08
Other / Non-Disclosed,1,$2.12,$2.12,$2.12

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [16]:
#The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
age_bins = [0,10,14,19,100]
age_bins_labels = ["<10", "10-14", "15-19", ">20"]
ages = np.array(pymoli_pd['Age'],dtype="int")
pymoli_pd['Age Levels'] = pd.cut(ages, age_bins, labels=age_bins_labels)
pymoli_pd.head()

   Age Gender  Item ID                 Item Name  Price          SN Age Levels
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35        >20
1   21   Male       12                     Dawne   3.36   Aidaira26        >20
2   17   Male        5                Putrid Fan   2.63      Irim47      15-19
3   17   Male      123         Twilight's Carver   2.55     Irith83      15-19
4   22   Male      154              Feral Katana   4.11  Philodil43        >20

In [17]:
age_groups = pymoli_pd[['Age Levels', 'SN', 'Price']].groupby(['Age Levels'])
age_groups_stats = age_groups.agg({'Price': ['count', 'mean', 'sum']})
age_groups_stats.columns = ['Purchase Count', 'Average Spent', 'Total Spent']
age_groups_stats["Normalized Totals"] = age_groups_stats['Total Spent'] / age_groups_stats['Purchase Count']  
age_groups_stats["Normalized Totals"] = age_groups_stats["Normalized Totals"].map("${:.2f}".format)
age_groups_stats['Average Spent'] = age_groups_stats['Average Spent'].map("${:.2f}".format)
age_groups_stats['Total Spent'] = age_groups_stats['Total Spent'].map("${:.2f}".format)

age_groups_stats.reset_index()

  Age Levels  Purchase Count Average Spent Total Spent Normalized Totals
0        <10               5         $2.76      $13.82             $2.76
1      10-14               3         $2.99       $8.96             $2.99
2      15-19              11         $2.76      $30.41             $2.76
3        >20              59         $2.96     $174.91             $2.96

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [18]:
top_spenders = pymoli_pd[['SN', 'Price']].groupby(['SN'])
top_spenders_stats = top_spenders.agg({'Price': ['count', 'mean', 'sum']})
top_spenders_stats.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value'] 
top_spenders_stats['Average Purchase Price'] = top_spenders_stats['Average Purchase Price'].map("${:.2f}".format)
top_spenders_stats['Total Purchase Value'] = top_spenders_stats['Total Purchase Value'].map("${:.2f}".format)  

top_spenders_stats = top_spenders_stats.sort_values(by=[('Total Purchase Value')],ascending=False)[:5]
top_spenders_stats.reset_index()

           SN  Purchase Count Average Purchase Price Total Purchase Value
0   Sundaky74               2                  $3.71                $7.41
1   Aidaira26               2                  $2.56                $5.13
2     Eusty71               1                  $4.81                $4.81
3  Chanirra64               1                  $4.78                $4.78
4    Alarap40               1                  $4.71                $4.71

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [19]:
most_popular = pymoli_pd[['Item ID', 'Item Name', 'Price']].groupby(['Item ID', 'Item Name', 'Price'])  
most_popular = most_popular.agg({'Price':['sum', 'count']})
most_popular.columns = ['Total Purchase Value', 'Purchase Count']
most_popular['Total Purchase Value'] = most_popular['Total Purchase Value'].map("${:.2f}".format)
#most_popular['Price'] = most_popular['Price'].map("${:.2f}".format)
most_popular = most_popular.sort_values(by=[('Purchase Count')], ascending=False)[:5]
most_popular.reset_index()

   Item ID       Item Name  Price Total Purchase Value  Purchase Count
0       94  Mourning Blade   3.64               $10.92               3
1       90        Betrayer   4.12                $8.24               2
2      111    Misery's End   1.79                $3.58               2
3       64   Fusion Pummel   2.42                $4.84               2
4      154    Feral Katana   4.11                $8.22               2

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [20]:
most_popular.sort_values(by=[('Total Purchase Value')], ascending=False)[:5]
most_popular.reset_index()

   Item ID       Item Name  Price Total Purchase Value  Purchase Count
0       94  Mourning Blade   3.64               $10.92               3
1       90        Betrayer   4.12                $8.24               2
2      111    Misery's End   1.79                $3.58               2
3       64   Fusion Pummel   2.42                $4.84               2
4      154    Feral Katana   4.11                $8.22               2